<!-- 건물전체점검표 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="popUp_default" id="all_inspection">
            <div class="all_inspection_date">
                <div class="inspection_date">
                    <div class="wrapper_inspection_date_item">
                        <img
                            src="../images/admin_main/icon_building_02.png"
                            alt="date_icon_building"
                        />
                        <strong>건물명 : </strong>
                        <strong>&nbsp;고려대 서울캠퍼스 산학관</strong>
                    </div>
                    <div class="wrapper_inspection_date_item">
                        <img
                            src="../images/admin_main/icon_date.png"
                            alt="date_icon_date"
                        />
                        <strong>점검일 : </strong>
                        <strong>&nbsp;2022-02-21</strong>
                    </div>
                </div>
                <div
                    class="all_inspection_close_btn"
                    id="all_inspection_close_btn"
                >
                    <button id="close_popUp2_btn">
                        <img
                            src="../images/admin_main/icon_close.png"
                            alt="close_btn"
                        />
                    </button>
                </div>
            </div>
            <div class="popUp_header">
                <h3>
                    <img
                        src="../images/admin_main/icon_check.png"
                        alt="icon_check"
                    />소방119 시설물 관리
                </h3>
            </div>
            <div class="wrapper_header_title">
                <img
                    src="../images/admin_main/icon_circle.png"
                    alt="icon_circle"
                />
                <strong>건물전체점검표</strong>
            </div>
            <div class="inspection_content wrapper_all_ins_content">
                <ul>
                    <li class="Depth Depth1">
                        <strong> 소화기구설비 </strong>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong>
                                    소화기, 자동확산소화기, 간이소화용구
                                </strong>

                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong>
                                            주거용 주방 자동소화장치
                                        </strong>
                                        <ul class="Depth4_top">
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    거주자 등이 손쉽게 사용할 수
                                                    있는 장소에 설치되어 있는지
                                                    여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    설치높이 적합 여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    배치거리(버행거리 소형 20m
                                                    이내, 대형 30m 이내) 적합
                                                    여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    구획된 거실(바닥면적 33m2
                                                    이상)마다 소화기 설치 여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    소화기 표지 설치상태 적정
                                                    여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    소화기의 변형*손상 또는 부식
                                                    등 외관의 이상 여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    지시압력계(녹색범위)의 적정
                                                    여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    수동식 분말소화기
                                                    내용연수(10년) 적정 여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    설치수량 적정 여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                            <li class="Depth4">
                                                <img
                                                    src="../images/admin_main/icon_circle.png"
                                                    alt="Depth4_circle"
                                                />
                                                <strong>
                                                    적응성 있는 소화약제 사용
                                                    여부
                                                </strong>
                                                <select name="" id="">
                                                    <option value="">O</option>
                                                    <option value="">X</option>
                                                </select>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong>
                                            상업용 주방 자동소화장치
                                        </strong>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong> 캐비닛형 자동소화장치 </strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong> 자동소화장치 </strong>
                            </li>
                        </ul>
                    </li>
                    <li class="Depth Depth1">
                        <strong> 옥내소화전설비 </strong>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong> 가압송수장치 </strong>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong> 펌프방식 </strong>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong> 고가수조방식 </strong>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong> 압력수조방식 </strong>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong> 가압수조방식 </strong>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="Depth Depth1">
                        <strong> 옥외소화전설비 </strong>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong> 수원 </strong>
                            </li>
                            <li class="Depth Depth2">
                                <strong> 수조 </strong>
                            </li>
                            <li class="Depth Depth2">
                                <strong> 가압송수장치 </strong>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 층별점검표 -->
        <div class="popUp_default" id="floor_inspection">
            <div class="popUp_header border_top">
                <h3>
                    <img
                        src="../images/admin_main/icon_check.png"
                        alt="floor_title_check"
                    />
                    소방119 시설물 관리
                </h3>
                <img
                    src="../images/admin_main/btn_close_w.png"
                    alt="floor_popUp_close_btn"
                    id="floor_detail_close_btn"
                />
            </div>
            <div class="popUp_title">
                <strong>
                    <img
                        src="../images/admin_main/icon_circle.png"
                        alt="icon_circle"
                    />
                    지하 1층</strong
                >
                <select name="" id="">
                    <option value="">지하1층</option>
                    <option value="">1층</option>
                    <option value="">2층</option>
                    <option value="">3층</option>
                </select>
            </div>
            <div class="floor_information">
                <table>
                    <thead>
                        <tr>
                            <th>바닥면적</th>
                            <th>용도</th>
                            <th>구조</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" value="3000" />
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">교육시설</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">콘크리트구조</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="inspection_content wrapper_floor_ins_content">
                <ul>
                    <li class="Depth Depth1">
                        <strong>소화설비</strong>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong>소화기구</strong>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong>소화기</strong>
                                        <ul class="Depth4_top">
                                            <li
                                                class="wrapper_floor_item_check"
                                            >
                                                <div class="item_check_box">
                                                    <ul>
                                                        <li>
                                                            <label
                                                                for=""
                                                                class="letter_spacing_label"
                                                                >품목명</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    분말소화기
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label
                                                                for=""
                                                                class="letter_spacing_label"
                                                                >종&nbsp;&nbsp;류</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    1.5Kg
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label
                                                                for=""
                                                                class="letter_spacing_label"
                                                                >수&nbsp;&nbsp;량</label
                                                            >
                                                            <input
                                                                type="number"
                                                                value="10"
                                                            />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="item_check_box">
                                                    <ul>
                                                        <li>
                                                            <label for=""
                                                                >정상여부</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    O
                                                                </option>
                                                                <option
                                                                    value=""
                                                                >
                                                                    X
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label for=""
                                                                >점검여부</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    O
                                                                </option>
                                                                <option
                                                                    value=""
                                                                >
                                                                    X
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label for=""
                                                                >제조년월</label
                                                            >
                                                            <input
                                                                type="date"
                                                            />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong>간이용소화기</strong>
                                    </li>
                                </ul>
                                <ul class="Depth3_top">
                                    <li class="Depth Depth3">
                                        <strong>자동확산소화기</strong>
                                        <ul class="Depth4_top">
                                            <li
                                                class="wrapper_floor_item_check"
                                            >
                                                <div class="item_check_box">
                                                    <ul>
                                                        <li>
                                                            <label
                                                                for=""
                                                                class="letter_spacing_label"
                                                                >종&nbsp;&nbsp;류</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    1.5Kg
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label
                                                                for=""
                                                                class="letter_spacing_label"
                                                                >수&nbsp;&nbsp;량</label
                                                            >
                                                            <input
                                                                type="number"
                                                                value="10"
                                                            />
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="item_check_box">
                                                    <ul>
                                                        <li>
                                                            <label for=""
                                                                >정상여부</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    O
                                                                </option>
                                                                <option
                                                                    value=""
                                                                >
                                                                    X
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label for=""
                                                                >점검여부</label
                                                            >
                                                            <select
                                                                name=""
                                                                id=""
                                                            >
                                                                <option
                                                                    value=""
                                                                >
                                                                    O
                                                                </option>
                                                                <option
                                                                    value=""
                                                                >
                                                                    X
                                                                </option>
                                                            </select>
                                                        </li>
                                                        <li>
                                                            <label for=""
                                                                >제조년월</label
                                                            >
                                                            <input
                                                                type="date"
                                                            />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong>옥내소화전설비</strong>
                            </li>
                        </ul>
                        <ul class="Depth2_top">
                            <li class="Depth Depth2">
                                <strong>옥외소화전설비</strong>
                            </li>
                        </ul>
                    </li>
                    <li class="Depth Depth1">
                        <strong>경보설비</strong>
                    </li>
                    <li class="Depth Depth1">
                        <strong>피난설비</strong>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
